<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Quora</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h2 style="color: #8A0000;">Prince</h3>
    <div class="container">
        <div class="main-heading">
            <h1>Welcome to the world of <span>QUORA</span></h1>
        </div>
        <form action="http://localhost:8080/posts">
            <button class="btn">Start exploring</button>
        </form>
    </div>
</body>
</html>