<head>
    <style>
      .content {
        max-width: 800px;
        width: 100%;
        padding: 40px;
        border-radius: 20px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
      }
      .left h1 {
        font-size: 3rem;
        font-weight: 600;
      }
    </style> 
</head>
    <% layout('/layouts/boilerplate') -%>
 
  <body>
    <div class="container text-center">
      <div class="content row align-items-center">
        <div class="col-md-8 left text-md-start text-center mb-4 mb-md-0">
          <h1>Welcome to <br> <span class="text-danger">windBNB</span></h1>
        </div>
        <div class="col-md-4 right text-md-end text-center">
          <a class="btn btn-danger btn-lg" href="/lists">Explore</a>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
