<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>windBNB</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="content">
        <div class="left">
            <h1>Welcome to <br> windBNB</h1>
        </div>
        <div class="right">
            <a class="btn" href="/lists">Explore</a>
        </div>
    </div>
</body>
</html>