body{
    background-color: #8d9f87;
    height: 100%;
}

.btn{
    text-decoration: none;
    color: #333d29;
    border: 2px solid #516d28;
    background-color: #a4ac86;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 25px;
    color: #582f0e;
    font-family: cursive;
    width: 6rem;
    height: 2rem;
    text-align: center;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.left{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right{
    display: flex;
    justify-content: start;
    align-items: center; 
}

.left, .right{
    padding: 10px;
}

h1{
    font-weight: bolder;
    font-size: 75px;
    color: #582f0e;
    font-family: cursive;
    cursor:default;
}